<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings name="ECMAutoLogin.VerifyUserAgainstEmail">true</settings>
    <settings name="ECMAutoLogin.LinksExpiration">15.00:00:00</settings>
    <settings name="ECMAutoLogin.PersistentLogin">true</settings>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"
                   type="Galiana.pipelines.httpRequestBegin.UserResolver, Galiana" />
      </httpRequestBegin>
      <insertRenderings>
        <processor patch:after="processor[@type='Sitecore.Pipelines.InsertRenderings.Processors.AddRenderings, Sitecore.Kernel']"
                   type="Galiana.pipelines.insertRenderings.AddAutoLoginNotifyMessage, Galiana" />
      </insertRenderings>
      <httpRequestEnd>
        <processor patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"
                   type="Galiana.pipelines.insertRenderings.AddAutoLoginNotifyMessage, Galiana" />     
      </httpRequestEnd>
    </pipelines>
  </sitecore>
</configuration>